.item-input{
  background-color: var(--bs-primary);
  border: 2px solid var(--bs-secondary);
  border-radius: 20px;
  padding: 1rem;
}

.list-btn{
  width: 90%;
}

.filter-btn:hover, .filter-btn:active{
    background: linear-gradient(60deg, var(--bs-secondary) 10%, var(--bs-secondary-light) 60%, var(--bs-secondary));
    color: var(--bs-text);
}

.list-btn:hover, .list-btn:active, .list-group-item button:hover{
  color: var(--bs-text);
}

.list-group-item .form-check-input[type=checkbox]{
    background-color: var(--bs-primary);
    border: 2px solid var(--bs-secondary);
    color: var(--bs-text);
}


#list-form .form-control, #list-form .form-select{
    font-size: 15px;
}

.dragging {
      opacity: 0.5;
}


@media (min-width: 426px){
    #list-form .form-control, #list-form .form-select{
    font-size: 20px;
}
}

@media print {
    
    .item-input,
    .btn,       
    #errorMessage, 
    #fileInfo,  
    .list-btn,    
    #time,       
    footer, 
    header {
        display: none !important; 
    }


    main {
        width: 100% !important;
        max-width: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }


    body {
        color: #000 !important;
        background-color: #fff !important; 
        background-image: none !important; 
    }


    .list-group-item {
        border: 1px solid #000 !important;
        color: #000 !important;
        padding: 8px 15px !important;
        margin-bottom: 1rem !important;
        page-break-inside: avoid; 
    }

    .list-group-item button{
      display: none !important;;
    }

    .list-group-item .form-check-input[type=checkbox] {
        margin-right: 10px !important;
        background-color: white !important;
        color: #000 !important;
        border: 1px solid #000 !important;
    }

    .float-end {
        float: none !important;
        display: inline !important; 
    }

    
    h1, h2, h3, h4, h5, h6 {
        color: #000 !important;
        text-align: center !important; 
        margin-top: 10px !important;
        margin-bottom: 5px !important;
    }

    .fs-5 {
        font-size: 1.1em !important; 
    }

    /* --- Drag and Drop Styles --- */
    
  
    #displayList {
        list-style-type: decimal !important; 
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}