  body{
    box-sizing: border-box;
    font-family: "Tinos", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-variation-settings:
      "slnt" 0,
      "CRSV" 0.5,
      "ELSH" 0,
      "ELXP" 0;
    background-image: var(--image);
    background-size: cover;
    background-position: center; 
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  .theme-default{
    --bs-secondary: #D99F0D;
    --bs-primary: #060642;
    --bs-primary-light: #200242;
    --bs-secondary-light: #fcbd1d;
    --bs-effect: 	#75B6FF;
    --bs-effect-secondary: #060642;
    --bs-text: azure; 
    --bs-text-secondary: #D99F0D;
    --image: url('../backgrounds/graph_paper_blue.png');
  }

  .theme-dark{
    --bs-secondary: #06682f;
    --bs-primary: #0d0d0d;
    --bs-primary-light: #20202083;
    --bs-secondary-light: #0adf63;
    --bs-effect: #0adf63;
    --bs-effect-secondary: #222222;
    --bs-text: #babbbb;
    --bs-text-secondary: #058038;
    --image: url('../backgrounds/graph_paper_dark.png');
  }

 .theme-light{
    --bs-secondary: #E4DCDC;
    --bs-primary: #f0ffff;
    --bs-primary-light: white;
    --bs-secondary-light: #d6c8c8;
    --bs-effect: red;
    --bs-effect-secondary: #f0ffff;
    --bs-text: #740B20;
    --bs-text-secondary: black;
    --image: url('../backgrounds/graph_paper_white.png');
  }

  .btn{
    background-color: var(--bs-secondary);
    color: var(--bs-text);
  }

#navbar{
  background-color: var(--bs-secondary);
}

.navbar-collapse {
  max-height: 50vh;
  overflow-y: auto;
}

h1, a, .card-title{
  color: var(--bs-text-secondary);
  text-decoration: none;
  font-weight: bold;
}

h2,h3{
  color: var(--bs-text);
}

.nav-link, .navbar-toggler-text{
  color: var(--bs-text);
  text-decoration: none;
}

.nav-link:hover, .btn:hover{
  color: var(--bs-effect-secondary);
  text-decoration: none;
}

#loading::after {
  content: '';
  animation: dots 1.5s steps(5, end) infinite;
}

a:hover, a:focus{
  color: var(--bs-effect);
  text-decoration: none;
}

.card {
  transform: scale(1);        
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  backface-visibility: hidden;
  background-color: var(--bs-primary);
  color: var(--bs-text);
  border: 2px solid var(--bs-secondary) !important;
  border-radius: 20px;

}

.card .list-group-item{
  font-size: 15px;
}

.card:hover, .list-group-item:hover{
  background: linear-gradient(45deg, var(--bs-primary) , var(--bs-primary-light));
  color: var(--bs-text);
}

.icon-link:hover{
  animation: bounce 0.5s linear 1;
}

.was-validated input:invalid {
  border: #dc3545 3px solid;
  box-shadow: 0 0 0 0.25rem rgba(220,53,69,.25);
}
.was-validated input:valid {
  border: #28a745 3px solid;
  box-shadow: 0 0 0 0.25rem rgba(40,167,69,.25);
}

.form-text, .toast-message{
  color: var(--bs-text); 
}

.status{
  background-color: var(--bs-secondary);
  color: var(--bs-text);
  font-size: 1.5rem;
}

.submit-btn{
  width: 10rem;
  height: 3rem;
}
.submit-btn:hover,  .submit-btn:active{
  background: linear-gradient(60deg, var(--bs-secondary) 10%, var(--bs-secondary-light) 60%, var(--bs-secondary));
  color: var(--bs-text);
}

.form-control::-webkit-input-placeholder{
  color: #181717; 
}

#time{
  background-color: var(--bs-primary);
  border: 2px solid var(--bs-secondary);
  border-radius: 20px;
  width: fit-content;
  max-width: 100%;
  height: 7.5%;
}

@keyframes bounce{
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-1rem);
  }
}

@keyframes dots {
  0%, 20% { content: '.'; }
  40% { content: '..'; }
  60% { content: '...'; }
  80%, 100% { content: ''; }
}

@media (min-width: 769px){
  .card .list-group-item{
    font-size: 25px;
  }
}