@import url(./global.css);

body{
    background-repeat: no-repeat;
}

h2, .nav-link{
  color: aliceblue;
}

#current-weather-forecast img{
   max-width: 50px;
   max-height: 50px;
}


#loading::after {
  content: '';
  animation: dots 1.5s steps(5, end) infinite;
}