.daily-card {
    background-color: rgba(199, 197, 197, 0.3);
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
}

.daily-card:hover {
    background-color: rgba(163, 163, 163, 0.5);
    transform: scale(1.05);
}

.bi-caret-right-fill, .bi-caret-left-fill{
    width: 30px;
    height: 30px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.weather-icon{
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
}

.weather-icon-small{
    width: 25px;
    height: 25px;
    max-width: 25px;
    max-height: 25px;
}

.hour-details-container {
    width: 100%;
    padding: 10px;
}

.hour-details {
    padding: 15px;
    font-size: 18px;
    background-color: rgba(199, 197, 197, 0.3);
    backdrop-filter: blur(15px);
    transition: all 0.3s ease-in-out;
    color: white;
}

#day-duration{
    font-size: 16px;
}


@media screen and (min-width: 768px) {
     #day-duration{
        font-size: 24px;
    }

    .hour-details{
        font-size: 20px;
    }
}

@media screen and (min-width: 992px) { /* lg breakpoint for desktop */
    .hour-details-container {
        padding: 0;
        position: fixed;
        left: 0;
        top: 0;
        width: 20vw;
        height: 100vh;
        z-index: 1030; /* Higher than navbar if needed */
        pointer-events: none; /* Allow clicks to pass through the container */
    }

    .hour-details {
        pointer-events: auto; /* Re-enable pointer events for the details content */
        padding-right: 0;
        width: 100%;
        font-size: 22px;
    }
}
