.profile-span{
    color: var(--bs-text-secondary) !important;
    text-decoration: none !important;
    font-weight: bold !important;
}

.profile-btn, .conditions{
  background-color: transparent !important; 
  color: var(--bs-text) !important;
  border: 0 !important;
}

h5, h4{
    color: var(--bs-text) !important;
    font-weight: normal !important;
}