.profile-span{
    color: var(--bs-text-secondary) !important;
    text-decoration: none !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
}

.profile-btn, .conditions{
  background-color: transparent !important; 
  color: var(--bs-text) !important;
  border: 0 !important;
}

h5, h4{
    color: var(--bs-text) !important;
    font-weight: normal !important;
}

.button-span {
  font-size: 1.4rem;
}

.controls{
  width: 90%;
  height: 50px;
}

.btn-danger:hover, .btn-danger:active {
    background: linear-gradient(60deg, var(--bs-danger) 10%, var(--bs-danger) 60%, var(--bs-danger));
    color: var(--bs-text);
    border: none !important;
}

.btn-primary:hover, .btn-primary:active {
    background: linear-gradient(60deg, var(--bs-secondary) 10%, var(--bs-secondary) 60%, var(--bs-secondary));
    color: var(--bs-text);
    border: none !important;
}

